

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/* nav style */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}
.nav-name{
    font-size: 28px;
    font-weight: bolder;
    color:#0D1321 ;
}
.download-resume-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #0D1321;
}

    

.background-image{
    background-image: url('../styles/assets/Hero-bg.png');
    /* background-repeat:no-repeat; */
    /* width: 100%; */

}
/* banner styles */
.banner{
    text-align: center;
}
.banner-image{
    padding: 26px 378.86px;
}
.banner-description{
    padding: 32px 221px;
}
.banner-description-title{
    font-size: 48px;
    font-weight: 900;
    word-wrap:normal;
    color: #0D1321;
}
.connecting-button{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0D1321;
   
}
.contact-button{
    padding: 32px 377px 45px 377px;
}
/* why-web-developing section */
.why-web{
    padding: 97px;
    margin: 100px 148px;
}
.why-web-content{
    text-align: center;
    padding:47px
}

.reason{
    display:flex ;
    justify-content: space-between;
    word-wrap: normal;
    padding:48px;
    border-radius: 5px;
    background-color:rgba(253, 245, 230, 0.606);
    gap: 8px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 5px;
}
.reason-title{
    font-size: 24px;
    font-weight: bold;
}
.reason-text{
    padding:30px 40px ;
}
.learn{
    padding: 12px 20px;
}
/* inspiration */
.inspiration{
    text-align: center;
    margin: 150px;
    background-color: rgba(253, 245, 230, 0.606);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.inspiration-content{
    padding: 6px 245px;
    margin-bottom: 50px;

}
.video{
    border-radius:10px;
    padding: 10px;
    background-color: rgba(237, 159, 129, 0.532);
    margin: 2px 465px;
}
/* current target section */
.current-target{
    margin: 150px;
}
.target-description{
    text-align: center;
    margin: 0px 97px 50px 97px;
    padding-left: 50px;
    padding-right: 50px;
}
.language-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.language{
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 60px;
}
.Html-bg-color{
    background-color:  rgba(255, 76, 30, 0.05)
    
}
.Css-bg-color{
    background-color: rgba(0, 76, 232, 0.05) ;
    
}
.Js-bg-color{
    background-color:  rgba(255, 223, 0, 0.05);
    
}